body {
    padding: 50px;

}
table {
    padding: 5pt;
    width: 55%;
    border-collapse: collapse;
    border-top: 30px solid;
    border-bottom: 25px solid ;
    border-left: 15pt solid;
    border-right: 15pt solid;
    border-color: aqua;
    background-color: yellow;

}
td, th {
    padding: 20px;

}
th{

    font-size:30px;
    font-weight:400;
    color:blue;

    padding:20px;
    background-color:#66ff99;
    text-align: left;

}
td{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    /*color:#5f6062;*/
    font-size:13px;
    padding:20px 20px 20px 20px;

    text-align: left;
}



.btn {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
.btn {
    margin: 10px;
    padding: 15px 30px;
    text-align: right;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;

}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}